name: Workflow0
on: [push]
jobs:
  job0:
    runs-on: ubuntu-latest
    steps:
      - run: |
          curl -fsSL https://get.docker.com -o get-docker.sh
          sudo sh get-docker.sh
      - run: |
          docker run hello-world


        
      #- name: Setup Python
        #uses: actions/setup-python@v4.0.0
        #with:
          #python-version: 3.8
#
      #- run: pip install boto3
       # 
      #- name: install aws cli
        #run: |
          #curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          #unzip awscliv2.zip
          #sudo ./aws/install --update
#
      #- name: Checkout repo
        #uses: actions/checkout@v3
#
      #- name: Configure AWS Credentials
        #uses: aws-actions/configure-aws-credentials@v1
        #with:
          #aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          #aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          #aws-region: us-east-1
#
      #- run: aws s3 ls

